# Created by https://www.toptal.com/developers/gitignore/api/venv
# Edit at https://www.toptal.com/developers/gitignore?templates=venv

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg


venv/
__pycache__/
*.pyc


pip-selfcheck.json

#config of entorn
.env

#files of logn and temporals
*.log
*.sqlite3

#files of IDE
.vscode/
.idea/
*.swp

#compatility with other systems
.DS_Store
*.bak

#for jupyter
.ipynb_checkpoints/
*.ipynb



# End of https://www.toptal.com/developers/gitignore/api/venv